<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<title>Liste des clients</title>
</head>
<body>
	<div class="container">
		<form th:action="@{/voitures}" method="get">
			<div class="form-group">
				<label>Mot clé:</label> <input type="text" name="motCle"
					th:value="${motCle}" />
				<button type="submit">Chercher</button>
			</div>
		</form>
	</div>
	<div class="container">
		<h1>Liste des voitures</h1>
		
		<table class="table table-striped">
			<thead>
				<tr>
					<th>nimmatriculation</th>
					<th>disponible</th>
					<th>type</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="p:${voitures}">
					<td th:text="${p.nimmatriculation}"></td>
					<td th:text="${p.disponible}"></td>
					<td th:text="${p.type.marque}"></td>
					<td ><a th:href="@{voitures/SupprimerVoiture(immatricule=${p.nimmatriculation})}">Supprimer</a></td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="container">
		<ul class="nav nav-pills">
			<li th:each="p:${pages}" th:class="${p==pageCourante}?active:''">
				<a th:text="${p}+1" th:href="@{Index(page=${p})}"></a>
			</li>
		</ul>
	</div>
	<a th:href="@{formVoiture}">Ajouter</a>
</body>
</html>